/*MENU*/
.menu+* {
    padding-top: 0px;
}

/*BODY*/

body {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;

}

.center {
    background-color: #fff;
    background-image: url(../images/light_wool.png);
    background-blend-mode: multiply, multiply;
    overflow: auto;
    color: rgb(44, 43, 43);
    padding-bottom: 10px;
    width: 1000px;
    height: 100%;
    border: 2px solid black;
    padding-top: 75px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.center div {
    display: block;
    border-radius: 16px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    min-height: 250px;
}

.card div p, .card div input, .card div select{
    margin-left: 10px;
    margin-right: 10px;
}

.card div:nth-child(1) {
    background-color: rgba(84, 253, 126, 0.3);
    min-height: 300px;
}

.card div:nth-child(2) {
    background-color: rgba(253, 84, 84, 0.3);
}

.card div:nth-child(3) {
    background-color: rgba(84, 137, 253, 0.3);
    min-height: 300px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    padding-left: 10px;
    margin-bottom: 1rem;
    text-align: center;
}
span{
    display: block;
}

h3 {
    font-size: 1.5rem;
}

input, select {
    display: block;
    width: 300px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 1rem;
    background-color: rgb(201, 201, 201);
    border: 2px solid rgb(80, 80, 80);
    margin-left: 0px;
}

button {
    display: block;
    font-size: 1rem;
    border-radius: 16px;
    border: 2px solid black;
    margin-top: 15px;
}

input:hover, select:hover {
    background-color: white;
}

/*FOOTER*/

.footer {
    bottom: 0px;
    width: 100%;
    background-color: #330867;
    text-align: center;
    color: white;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*RESPONSIVE*/

@media all and (max-width: 900px) {

    .center {
        width: 100%;
    }

    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.5rem;
        text-align: left;
    }
    span{
        display: inline;
    }

    .grid {
        display: block;
    }

    p, h2 {
        padding-right: 0px;
    }
    
    div{
        max-width: 330px;
        display: inline-block;
    }

    .center div {
        min-height: 0px;
    }
    
    .card div:nth-child(1) {
        min-height: 0px;
    }
    
    .card div:nth-child(3) {
        background-color: rgba(84, 137, 253, 0.3);
        min-height: 0px;
    }

    .center {
        border: 0px;
    }
}